@model IEnumerable<ProyectoFinal.Models.Reservacion>

@{
    Layout = "_Layout"; // Si estás utilizando un layout
}

<h2>Lista de Reservas</h2>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre del Lugar</th>
                <th>Fecha y Hora de Reserva</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reserva in Model)
            {
                <tr>
                    <td>@reserva.Lugar.Nombre</td>
                    <td>@reserva.HoraItinerario.ToString("dd/MM/yyyy HH:mm")</td> 
                    <td>
                        <a href="@Url.Action("Editar", "Reservas", new { id = reserva.Id })" class="btn btn-warning btn-sm">Editar</a>
                        <a href="@Url.Action("Eliminar", "Reservas", new { id = reserva.Id })" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay reservas para mostrar.</p>
}
